/* Common */
body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
  }
  
  h2 {
    color: #2c3e50;
  }
  
  a {
    color: #2980b9;
    text-decoration: none;
  }
  
  /* Login Page */
  .login-body {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .login-bg {
    background-image: url('images/login-bg.jpg');
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-size: cover;
    background-position: center;
    filter: blur(5px) brightness(0.5);
    z-index: -1;
  }
  
  .login-container {
    background-color: rgba(255, 255, 255, 0.95);
    padding: 40px;
    border-radius: 12px;
    width: 320px;
    box-shadow: 0 0 15px rgba(0,0,0,0.3);
    text-align: center;
  }
  
  .login-container input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .login-container button {
    width: 100%;
    padding: 10px;
    background-color: #27ae60;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .error {
    color: red;
    margin-top: 10px;
  }
  
  /* Portfolio Page */
  .portfolio-body {
    background-color: #f9f9f9;
  }
  
  header {
    background-color: #34495e;
    color: white;
    padding: 40px 20px;
    text-align: center;
  }
  

  section {
    max-width: 1000px;
    margin: 40px auto;
    padding: 0 20px;
  }
  
  .projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    margin-top: 5px;
  }
  
  .project-card {
    background-color: white;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    text-align: center;
  }
  .project-card p {
    font-size: 14px;
  }
  
  footer {
    background-color: #222;
    color: #fff;
    text-align: center;
    padding: 20px;
  }
  
  .social-icons {
    margin-top: 10px;
  }
  
  .social-icons a {
    color: #fff;
    margin: 0 10px;
    font-size: 20px;
    transition: 0.3s;
  }
  
  .social-icons a:hover {
    color: #007BFF;
  }

  